/* CSS GRID ADJUST */

.grid-container{
    display:grid;
    padding-left:50px ;
    padding-right:80px;
    
    
    
}

.grid-item-1{
    width: stretch;
    margin: 0px;
    /* border: 3px solid black; */
    padding-bottom: 8px;
    margin-top:30px;
    margin-bottom:20px;
    
    
}


.flexbox-container-3{
    padding-left:0px;

}


/* FLEX BOX ADJUST */

.flexbox-container-2{
    border: 2px solid black;
    
    
}

.flexbox-container-3{
    border: 2px solid black;
    padding-left: 
    
}

.flexbox-container-1{
    display:grid;
    grid-template-columns: .7fr 2fr 1.1fr;
    
}

.grid-item-2{
    display:grid;
    grid-template-columns: 2fr 1fr; 
   
}

.flexbox-item-a1{
    border:1px dotted black;
    background-color: gray;
    float:right;
    

}


.flexbox-item{
    display: flex;
    
    

}

.flexbox-item-2{
    justify-content:space-around;
    height:40px;
    padding-left: 20px;
    padding-top:18px;


}

.flexbox-item-3{
    justify-content:space-between;
    height:40px;
    padding-left: 70px;
    padding-top:5px;
    padding-bottom:5px;
}

.flexbox-item-1{
    margin-top:5px;
}

/* navbar ""sign-in */
.nav-ptext-c1{
    background:white;
    border:2px solid blue;
    color:blue;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:5px;
}

/* Navbar-"try it free"*/

.nav-ptext-c2{
    background:blue;
    border:2px solid blue;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:5px;
}

flexbox-item-4a{
    display:grid;
    grid-template-columns: 1fr 1fr;
}








