/* CSS GRID ADJUST */

.grid-item-1{
    display:grid;
    padding-left:50px ;
    padding-right:80px;
    width: stretch;
    padding-bottom: 8px;
    margin-top:30px;
    margin-bottom:20px;  
}

.grid-item-2{
    display:grid;
    padding-left:50px ;
    padding-right: 80px;
}

.grid-item-2{
    display:grid;
    grid-template-columns: 1.35fr 1fr;  
}



/* FLEX BOX ADJUST */


.flexbox-container-1{
    display:grid;
    grid-template-columns: .7fr 2fr 1.1fr;   
}

.flexbox-container-2{
    
    margin-right: -20px;
}


.grid-item-2a-1{
    display:grid;
    align-items: space-around; 
}

.flexbox-item-2a-left{
    margin-left: 30px;
}

.flexbox-item-2aa-left{
    display:grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 30px; 
}

.ptext-2a-2{
    /* border:2px solid rgb(8, 80, 248);  */
    /* box-shadow: 10px 10px 3px blue; */
    /* border-radius:10px; */
    /* color:rgb(8, 80, 248);  */
    /* font-weight: bold; */
    margin-right: 160px; 
    margin-left: 40px; 
    padding-left: 15px;
    padding-right:15px;
    padding-bottom:10px;
    padding-top:10px;
    margin-top:20px
    
    
}

.chatbox{
    
    margin-right: 10px;
}

.ptext-2a-1{
    border:2px solid rgb(8, 80, 248);
    box-shadow: 8px 8px 3px rgb(212, 229, 240); 
    border-radius:10px;
    background:blue;
    color:white;
    padding-right:1px;
    padding-left:20px;
    padding-bottom:10px;
    padding-top:10px;
    margin-right: -29px;
    margin-top:20px
    
    
}


.flexbox-item-2aa-right{
    padding-left: 50px;
}

.flexbox-item-2a-1-e{
    color:gray;
}

.flexbox-item-2a-1-c{
color:gray;
font-weight: bold;


}

.flexbox-item-2a-1-b{
    margin-top: -15px;

}

.flexbox-item-2a-1-a{
    padding-top: 25px;
}

.flexbox-item{
    display: flex;
}

.flexbox-item-2{
    justify-content:space-around;
    height:40px;
    padding-left: 20px;
    padding-top:18px;
    margin-right: 1px;
}

.flexbox-item-3{
    justify-content:space-between;
    height:40px;
    padding-left: 70px;
    padding-top:5px;
    padding-bottom:5px;
}

.flexbox-item-1{
    margin-top:5px;
}

/* navbar ""sign-in */
.nav-ptext-c1{
    background:white;
    border:2px solid blue;
    color:blue;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:5px;
}

/* Navbar-"try it free"*/

.nav-ptext-c2{
    background:blue;
    border:2px solid blue;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:5px;
}

.ul-2a-1-f{
    
    display:flex;
    padding-left:0px;
    font-size: 10px;
    margin-top: 10px;
    font-weight: bold;
    
}

.list-item-2a-2{
    margin-left: 35px;
}

.list-item-2a-3{
    margin-left: 35px;
}

.break-1{
    margin-top: 10px;
    margin-left: 210px;
    margin-right: 210px;
}

.flexbox-container-3a-2{
    display:flex;
    justify-content: center;
    font-size:23px;
    font-weight: bold;
    text-shadow: 2px 4px 3px lightgrey;
    margin-top:35px;
}

.flexbox-container-3a-3{
    display:grid;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1px 1px lightgrey;
    margin-top: 20px;
    color:rgb(43, 43, 43)
}



.flex-container-4a-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin-top: 50px;   
}
   
.pbox-1{
    border:1px solid blue;
    background-color: blue;
    border-radius: 10px;
    width: 120px; 
    height: 135px; 
}

.pbox-1-t{
    display:flex;
    color: white;
    justify-content: center; 
    
}

.pbox-1-p{
    display: flex;
    margin-bottom: 18px;
    margin-top: 27px;
    margin-left: 28px   
}

.pbox-2{
    border:1px solid gray;
    border-radius: 10px;
    width: 120px;
    height: 135px;
    
}

.pbox-2-t{
    display:flex;
    justify-content: center; 
    
}

.pbox-2-p{
    display: flex;
    margin-bottom: 23px;
    margin-top: 37px;
    margin-left: 40px   
}

.pbox-3{
    border:1px solid grey;
    border-radius: 10px;
    width: 120px;
    height: 135px;
    
}

.pbox-3-t{
    display:flex;
    justify-content: center; 
    
}

.pbox-3-p{
    display: flex;
    margin-bottom: 28px;
    margin-top: 16px;
    margin-left: 34px   
}


.pbox-4{
    border:1px solid gray;
    border-radius: 10px;
    width: 120px;
    height: 135px;
    
}

.pbox-4-t{
    display:flex;
    justify-content: center; 
    
}

.pbox-4-p{
    display: flex;
    margin-bottom: 23px;
    margin-top: 37px;
    margin-left: 40px   
}




.pbox-t{
    display:flex;
    align-content: center;
}


.grid-item-5{
    display:flex;
    height: 550px;
    margin-top:150px;
    margin-left:60px;
    margin-right:60px;
    border-radius: 20px;
    
   
    
    
    
}

.b-blue-box{
    background-color: blue;
   
}

.grid-item-5{

  /* background-color: blue;   */
  overflow-x: visible; 
  /* clip-path: inset(0% 0% 1px 340px);  */
}
.ccpic{
    display:flex;
    padding-top: 100px;
}



.flex-container-5a-1{
    border:1px solid grey;
    border-radius:20px 0 0 20px ; 
}


.flex-container-5a-2{
    
   
    border-radius: 20px;
    
    color: white;
    
    padding:30px;
}

.b-blue-box{
   
    padding-right: 150px;
    padding-top: 75px;
    border-radius: 0 20px 20px 0;
   
    
}

.b-white-box{
    padding-top: 40px;
}



.flex-container-5a-2-a{
    font-size:24px;
    
}
.flex-container-5a-2-b{
    font-size:13px
}

.list-2{
    
    font-size: 10px;
    margin-right: -20px;
    margin-left:-20px;
    margin-top:10px;
    
}

.flex-container-5a-2-d{
    margin-right: 175px;
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 8px;
    
    
    
}

.lm{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top:8px;
}
.grid-container-7a{
    
    display:flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1.5px 2px 3px lightgray;
    margin-top: 160px;

}

.grid-container-8-a{
    
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap:250px;
    justify-content: center;
    padding-bottom: 70px;
    margin-top: 50px;
    
    

}


.ptext-2a-2{

    animation: chatbox 2s;
    animation-iteration-count: infinite;
}
    








